*~
*.bak
*.rpt
*.done
*.summary
*.jdi
*.qdf
*.pin
*.rpt
*.pof
*.sof
*.jic
*.stp
*.smsg
*.qws
*.sip
*.cdf
*.sld
*.map
pll*.bsf
pll*.cmp
pll*.spd
pll*_sim.f
pll*.ppf
pll*inst.vhd
pll*_sim/
pll/
top.qws
m10adc.sopcinfo
c5_pin_model_dump.txt
PLLJ_PLLSPE_INFO.txt
.qsys_edit/
db/
greybox_tmp/
incremental_db/
output_files/
simulation/
cons-c1k-rl/
cons-c1k-rk/
cons-c1k-rh/
cons-c1k-rhxu/
blockram*.obj
blockram*.lst
blockram*.vhd
m9312*.obj
m9312*.lst
m9312*.vhd
vgafont.vhd
vtbr.obj
vtbr.lst
vtbr.vhd
xubr.obj
xubr.lst
xubr.vhd
xubw.obj
xubw.lst
xubw.vhd
autom4te.cache/
config/
configure
tools/*.o
tools/Makefile
tools/Makefile.in
tools/.deps
tools/conf.h
tools/conf.h.in
tools/config.log
tools/config.status
tools/dumpobj
tools/fontconvert
tools/genblkram
tools/macro11
tools/sdfmt
tools/stamp-h1
xuesp/build
_ngo/
_xmsgs/
impact.xsl
impact_impact.xwbt
iseconfig/
*.gise
top.bgn
top.bit
top.bld
top.cmd_log
top.drc
top.lso
top.ncd
top.ngc
top.ngd
top.ngr
top.pad
top.par
top.pcf
top.prj
top.ptwx
top.stx
top.syr
top.twr
top.twx
top.unroutes
top.ut
top.xpi
top.xst
top_bitgen.xwbt
top_envsettings.html
top_guide.ncd
top_map.mrp
top_map.ncd
top_map.ngm
top_map.xrpt
top_ngdbuild.xrpt
top_pad.csv
top_pad.txt
top_par.xrpt
top_summary.*
top_usage.xml
top_xst.xrpt
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
webtalk_pn.xml
xlnx*/
xst/
