*~
*.bak
*.rpt
*.done
*.summary
*.jdi
*.qdf
top.qws
db/
greybox_tmp/
incremental_db/
output_files/
blockram*.obj
blockram*.lst
blockram*.vhd
m9312*.obj
m9312*.lst
m9312*.vhd
xubrt*.obj
xubrt*.lst
xubrt*.vhd
